# Cardiovascular Disease Dataset Analysis

In [ ]:
# Imports
import numpy as np
import pandas as pd
import scipy.stats as stats

import matplotlib.pyplot as plt
import seaborn as sns

# Jupyter Notebook Setup
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### Data Exploration

In [12]:
df = pd.read_csv('./data/heart_failure_clinical_records_dataset.csv')

# Drop time column because it does not help with analysis
df = df.drop(['time'], axis=1)
df.head()
df.count()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,1

age                         299
anaemia                     299
creatinine_phosphokinase    299
diabetes                    299
ejection_fraction           299
high_blood_pressure         299
platelets                   299
serum_creatinine            299
serum_sodium                299
sex                         299
smoking                     299
DEATH_EVENT                 299
dtype: int64

### Conditional Probabilities

In [13]:
# P(a | b) = pd.crosstab(df.a, df.b, normalize='columns')
# P(b | a) = pd.crosstab(df.a, df.b, normalize='index')
cp_anaemia = pd.crosstab(df.anaemia, df.DEATH_EVENT, normalize='index')
print(cp_anaemia)

cp_diabetes = pd.crosstab(df.diabetes, df.DEATH_EVENT, normalize='index')
print(cp_diabetes)

cp_blood_pressure = pd.crosstab(df.high_blood_pressure, df.DEATH_EVENT, normalize='index')
print(cp_blood_pressure)

cp_sex = pd.crosstab(df.sex, df.DEATH_EVENT, normalize='index')
print(cp_sex)

cp_smoke = pd.crosstab(df.smoking, df.DEATH_EVENT, normalize='index')
print(cp_smoke)

DEATH_EVENT         0         1
anaemia
0            0.705882  0.294118
1            0.643411  0.356589
DEATH_EVENT         0         1
diabetes
0            0.678161  0.321839
1            0.680000  0.320000
DEATH_EVENT                 0         1
high_blood_pressure
0                    0.706186  0.293814
1                    0.628571  0.371429
DEATH_EVENT         0         1
sex
0            0.676190  0.323810
1            0.680412  0.319588
DEATH_EVENT         0         1
smoking
0            0.674877  0.325123
1            0.687500  0.312500